
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />


	    <div class="container col-md-6">
			<canvas id="myChart" width="100" height="50"></canvas>
		</div>


    <div th:replace="common/header :: footer"/>
	<div th:replace="common/header :: body-bottom-scripts" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<script  type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		let context = document.getElementById("myChart").getContext("2d")
		let chart = new Chart(context, {
			type: 'bar',
			data: {
				labels: /*[[${labels}]]*/,
				datasets:[{
					label: '# Books',
					data: /*[[${data}]]*/,
						borderWidth: 6,
						backgroundColor:  ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd"],
					},

				]
			},
			options: {
				title: {
					display: true,
					fontsize: 40,
					text:"E-Book - RELATORIO DE LIVROS NO ESTOQUE"
				},

			}

		});
		/*]]>*/
	</script>


</body>

</html>
